/* blog details page */
.blogdetails {
  min-width: 100%;
  background-color: var(--orange);
  color: var(--dark-gray);
}
.blogdetails h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.blogdetails div {
  margin: 20px 0;
}
.blogdetails button {
  background: var(--purple);
  color: white;
  border: 0;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .blogdetails {
    min-width: 80vw;
  }
}
@media (min-width: 1280px) {
  .blogdetails {
    min-width: 60vw;
  }
}
@media (min-width: 1440px) {
  .blogdetails {
    min-width: 40vw;
  }
}
