:root {
  --main-bg-color: brown;
  --main-background: #3c13cb;
  --dark-gray: #373829;
  --mid-gray: #352e35;
  --light-gray: #44444c;
  --orange: #ff4f00;
  --light-orange: #e35c1f;
  --purple: #403075;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-background);
}

.container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
  width: 100%;
  height: 5em;
  background-color: var(--dark-gray);
  color: var(--orange);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0%;
}

nav .sitetitle {
  font-size: 2rem;
  display: flex;
  margin-left: 2rem;
  align-items: center; 
}
nav a {
  text-decoration: none;
  color: var(--orange);
}
.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  cursor: pointer;
  padding: 0.6rem 0 0.6rem 0;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: rgb(0, 183, 255);
  background: var(--orange);
  border-radius: 0.5em;
}

.menu {
  width: 75%;
  height: calc(100vh - 5em);
  position: absolute;
  top: 5em;
  z-index: 1;
  opacity: 0.95;
  display: flex;
  margin: 0;
  padding: 0;
  background: var(--dark-gray);
}
.menu ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav li:hover {
  background-color: var(--light-gray);
}
.menu li {
  width: 100%;
  height: 100%;
  display: flex;
}

.menu a {
  width: 100%;
  height: 100%;
  display: flex;
  padding:  2rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--orange);
  font-size: 1.8rem;
  align-items: center;
  text-align: center;
  justify-self: center;
}
.active a {
  width: 100%;
  color: var(--light-orange);
  background-color: var(--mid-gray);
  /* background-color: red; */
}
.nav-menu {
  display: none;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
  height: 0%;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
/* larger screens */
@media (min-width: 767px) {
  .burger-menu {
    display: none;
  }
  .menu {
    display: none;
  }
  .nav-menu {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-menu li {
    display: flex;
    flex-grow: 1;
  }
  .nav-menu a {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-bottom: 0;
  }
}
